@mixin burger-button($height, $width, $lineHeight) {
  .burger .burger-button {
    width: $height;
    height: $width;
    padding: 10px;
    > div:before {
      top: #{$lineHeight};
    }
    > div:after {
      top: -#{$lineHeight};
    }
  }
}