@import "./mixins/breakpoint";
@import "./normalize";
body {
  margin: 0;
  padding: 0;
}
.space-between {
  justify-content: space-between;
}
.row {
  display: flex;
  align-items: center;
}
* {
  box-sizing: border-box;
}
ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}