@import "../../styles/mixins/_customization.scss";
@mixin drop-down-img() {
  position: relative;
  &:after {
    border: inset 4px;
    border-bottom-width: 0;
    border-bottom-style: solid;
    border-color: #002e44 transparent transparent;
    box-sizing: content-box;
    content: '';
    cursor: pointer;
    display: block;
    height: 5px;
    margin-left: .5rem;
    margin-top: 4px;
    width: 1px;
  }
}
@mixin euronews-link() {
  padding: 7px;
  white-space: nowrap;
  font-weight: 600;
  font-family: sans-serif;
  color: #333;
  font-size: 14px;
  cursor: pointer;
  &:hover {
    color: #017df4;
  }
}
/* HEADER COMMON STYLES */
// layout
.euronews-header {
  .row {
    &-arkadium {
      justify-content: center;
      padding: 10px;
    }
    &-logo {
      align-items: center;
      justify-content: center;
      border-bottom: 1px solid #cdcdcd;
      padding: 30px 0;
    }
    &-client-menu {
      align-items: center;
      justify-content: center;
      height: 56px;
      border-bottom: 1px solid #cdcdcd;
      position: relative;
      .drop-down-component {
        position: static;
      }
    }
    &-lang {
      justify-content: space-between;
    }
  }
  .euronews-logo {
    width: 280px;
    fill: #005587;
  }
}
/* COMPONENTS CUSTOMIZATION */
/* DROP DOWN NAVIGATION PROGRAMMES */
#drop-down-navigation {
  display: flex;
  align-items: center;
  .programmes-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    @include drop-down-img();
    @include euronews-link();
    svg {
      width: 20px;
      height: 20px;
      margin-right: 7px;
      margin-bottom: 3px;
    }
  }
  .drop-down__body {
    box-shadow: #000 0 7px 12px -5px;
    top: 56px;
    background: #fff;
    font-family: sans-serif;
    font-size: 14px;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    .euronews-drop-down-list {
      padding: 10px;
      .euronews-drop-down-list {
        padding-left: 0;
        flex-direction: column;
      }
      a {
        font-weight: 600;
        font-family: sans-serif;
        font-size: 14px;
      }
    }
  }
}
/* LANG SELECTOR */
.lang-selector-component {
  display: flex;
  align-items: center;
  svg {
    width: 16px;
    margin-right: 4px;
    margin-bottom: 2px;
  }
  .drop-down__button {
    display: flex;
    align-items: center;
    @include drop-down-img();
  }
  .drop-down__body {
    background-color: #fff;
    box-shadow: #000 0 7px 12px -5px;
    border-bottom: 1px solid #f2f6f7;
    background: #fff;
    z-index: 99;
    ul {
      display: flex;
      flex-direction: column;
      display: block !important;
      column-count: 3;
      li {
        padding: 4px;
        border-bottom: 1px solid #cdcdcd;
        margin: 4px;
      }
    }
  }
}
/* PLUS NAVIGATION */
#plus-navigation {
  .drop-down__body {
    box-shadow: #000 0 7px 12px -5px;
    background: #fff;
    width: 100%;
    ul {
      width: 50%;
      margin: 0 auto;
      flex-wrap: wrap;
      li {
        width: 33%;
      }
    }
  }
}
/* LINKS */
.euronews-link,
.euronews-top-link {
  font-family: sans-serif;
  font-size: 14px;
  border-left: 1px solid #cdcdcd;
  padding: 10px;
  svg {
    width: 16px;
    height: 16px;
    margin: 0 10px;
  }
  &s {
    display: flex;
  }
}
.adaptive-navigation-list__item {
  @include euronews-link();
}
.drop-down__button, {
  @include euronews-link();
}
@include burger-button(42px, 42px, 7px);
/* ====== */
/* TABLET */
/* ====== */
/* BURGER */
.burger-body {
  flex-direction: column;
  font-family: sans-serif;
  font-weight: 600;
  background: #fff;
  box-shadow: #000 0 5px 7px -6px;
  z-index: 99;
  width: 500px;
  padding: 20px;
  .euronews-drop-down-list {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .euronews-drop-down-list__item {
    width: 50%;
  }
  .euronews-drop-down-list__link {
    display: block;
    padding: 10px 0;
    border-bottom: 1px solid #cdcdcd;
    margin: 3px;
    color: #333;
  }
  .burger-body-links {
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    .euronews-link {
      width: 50%;
      border: 0;
    }
  }
  .euronews-burger-link {
    padding: 16px;
    padding-left: 0;
  }
  .lang-selector-component {
    drop-down-component { width: 100%; }
    .drop-down__button {
      width: 100%;
      border: 1px solid #cdcdcd;
      padding: 10px;
    }
    .drop-down__body {
      width: 100%;
      bottom: 39px;
      box-shadow: none;
      border: 1px solid #4c96f4;
      ul {
        display: flex !important;
        width: 100%;
      }
    }
  }
}
.header-tablet {
  .row-burger {
    .lang-selector-component {
      .drop-down-component .drop-down__body {
        left: auto;
        right: 0;
      }
    }
  }
}
/* ===== */
/* PHONE */
/* ===== */
.header-phone {
  box-shadow: rgba(0,0,0,.5) 0 5px 7px -6px;
  .row-burger {
    justify-content: space-between;
    height: 42px;
    .euronews-logo {
      width: 128px;
      margin-left: 20px;
    }
    .burger-body {
      top: 42px;
      width: 320px;
    }
  }
}