$arkadium-menu-color: #444;
// $arkadium-menu-background: #fff;

.arkadium-menu {
  height: 30px;
  // background: $arkadium-menu-background;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $arkadium-menu-color;
  font-family: monospace;
  text-transform: uppercase;
  border-radius: 2px;
  font-weight: 600;
  &-list {
    &-item {
      padding: 7px;
    }
  }
}