.drop-down-component {
    position: relative;
    .drop-down__body {
        display: none;
        position: absolute;
        left: 0;
    }
    &--opened {
        .drop-down__body {
            display: flex;
        }
    }
}