.logo {
  height: 50px;
  width: 150px;
  background: #2c3e50;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255,255,255,.5);
  font-family: monospace;
  text-transform: uppercase;
  border-radius: 2px;
}