@import "../../styles/mixins/customization";
@include burger-button(46px, 46px, 7px);

.row {
  &-logo {
    justify-content: center;
  }
  &-arkadium {
    background: #0149b7;
    color: #fff;
    height: 46px;
    .arkadium-body {
      width: 100%;
      max-width: 980px;
      margin: 0 auto;
    }
  }
  &-burger {
    background: #0149b7;
    color: #fff;
    height: 46px;
  }
}
.login .button,
.arkadium-menu {
  color: inherit;
}
.login {
  color: #fff;
}
.adaptive-navigation-list {
  color: #000;
  font-size: 14px;
  white-space: nowrap;
  font-weight: bold;
  font-family: Arial, sans-serif;
  &__item {
    border-right: 1px solid #cdcdcd;
    &:nth-last-child(2) {
      border-right: 0;
    }
  }
}
.client-logo {
  width: 120px;
  margin-right: 20px;
}
adaptive-navigation-component {
  width: calc(100% - 140px);
  .adaptive-navigation-list {
    justify-content: flex-start;
  }
}
.arkadium-menu-list-item {
  padding: 7px;
  border-right: 1px solid #fff;
  &:last-child {
    border-right: 0;
  }
}
.burger-body {
  background: #000;
  color: #fff;
  font-family: sans-serif;
  top: 46px;
  &-list {
    flex-direction: column;
    &__link {
      color: inherit;
      font-size: 14px;
      text-transform: uppercase;
      line-height: 46px;
      padding: 10px;
      white-space: nowrap;
    }
    &__item {
      border-bottom: 1px solid #fff;
      width: 314px;
    }
  }
}
.link-games {
  color: #fff;
  font-family: sans-serif;
  padding: 0 10px;
  border-left: 1px solid #fff;
  margin-left: 10px;
}
.login {
  .login-button {
     text-align: right;
  }
}