adaptive-navigation-component {
  // width: fit-content;
  // overflow: hidden;
  width: 100%;
}

.adaptive-navigation--hidden-button {
  .adaptive-navigation-list__item--more {
    position: absolute;
    top: 100000000px;
  }
}

.adaptive-navigation-list__item {
  padding: 7px;
  white-space: nowrap;
}

.adaptive-navigation {
}

#adapt-nav-dropdown {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
}

.reset {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 7px;
  svg {
    height: 22px;
  }
}
#adapt-nav-dropdown {
  border: 1px solid #cdcdcd;
  border-radius: 3px;
}

#adapt-nav-dropdown {
  top: -100000px;
}

.adaptive-navigation-list {
  justify-content: flex-end;
}

.adaptive-navigation-list__item--more {
  position: relative;
}

.adaptive-navigation-list__item--opened {
  #adapt-nav-dropdown {
    display: flex;
    top: 32px;
  }
}
