$main-color: #FEFEFE;
$hamburger-menu-size: 60px;
$hamburger-menu-border-radius: .12em;
$hamburger-menu-bg-color: #2196F3;
$hamburger-menu-line-height: 2px;
$hover-line-height: $hamburger-menu-line-height;
$hover-color: $main-color;
$content-bg-color: #2962FF;
$main-color: #FEFEFE;
$anim-duration: .4s;

.burger {
  position: relative;
}

.burger-button {
  z-index: 1;
  width: $hamburger-menu-size;
  height: $hamburger-menu-size;
  padding: .5em 1em;
  background: $hamburger-menu-bg-color;
  border-radius: 0 $hamburger-menu-border-radius $hamburger-menu-border-radius 0;
  cursor: pointer;
  transition: box-shadow $anim-duration ease;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  > div {
    position: relative;
    flex: none;
    width: 100%;
    height: $hamburger-menu-line-height;
    background: $main-color;
    transition: all $anim-duration ease;
    display: flex;
    align-items: center;
    justify-content: center;
    &:before,
    &:after {
      content: '';
      position: absolute;
      z-index: 1;
      top: -$hamburger-menu-size / 6;
      left: 0;
      width: 100%;
      height: $hamburger-menu-line-height;
      background: inherit;
      transition: all $anim-duration ease;
    }
    &:after {
      top: $hamburger-menu-size / 6;
    }
  }
}

.burger-open {
  .burger-button {
    > div {
      transform: rotate(135deg);
      &:before,
      &:after {
        top: 0 !important;
        transform: rotate(90deg);
      }
      &:after {
        opacity: 0;
      }
    }
  }
  .burger-body {
    display: flex;
  }
}

.burger-body {
  display: none;
  position: absolute;
  left: 0;
  top: $hamburger-menu-size;
}