body {
  margin: 0;
  padding: 0;
}
.row {
  display: flex;
  &-arkadium {
    justify-content: center;
    padding: 10px;
  }

  &-client-menu {
    justify-content: center;
    border-top: 1px solid #eceff1;
    border-bottom: 1px solid #eceff1;
    height: 46px;
  }
  &-logo {
    align-items: center;
    padding: 19px;
    svg {
      width: 490px;
    }
    > * {
      flex-basis: calc(100% / 3);
    }
    .right {
      display: flex;
      justify-content: flex-end;
    }
  }
}

.subscribe-link {
  background-color: #329ce8;
  color: #fff;
  min-width: 120px;
  min-height: 40px;
  display: inline-block;
  border-radius: 2px;
  cursor: pointer;
  text-transform: uppercase;
  line-height: 40px;
  text-align: center;
  font-family: sans-serif;
  font-size: 14px;
}

.client-menu-list__link {
  color: #000;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: 600;
  padding: 8px;
  font-size: 12px;
}