$login-button-height: 30px;

.login {
  height: 30px;
  justify-content: flex-start;
  display: flex;
  align-items: center;
  color: rgba(255,255,255,.5);
  font-family: monospace;
  text-transform: uppercase;
  border-radius: 2px;
  padding: 0 10px;
  .logined-state {
    display: none;
  }
  &.logined {
    .logined-state {
      display: flex;
    }
    .login-button {
      display: none;
    }
  }
  .button {
    height: $login-button-height;
    border: none;
    background: none;
    font-weight: 600;
    outline: none;
    display: flex;
    align-items: center;
    width: 100%;
    svg {
      width: 20px;
      height: 20px;
      margin-right: 5px;
    }
  }
}

.logined-state {
  width: 100%;
  position: relative;
  &-open {
    .logined-state__panel {
      display: flex;
    }
  }
}

.logined-state__panel {
  display: none;
  position: absolute;
  flex-direction: column;
  top: $login-button-height;
  width: 100%;
}

.drop-down-arrow-img {
  margin-left: auto;
}