$search-background: #fff;
$search-border-color: #cdcdcd;
$search-height: 30px;

.search {
  height: $search-height;
  background: #2c3e50;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255,255,255,.5);
  font-family: monospace;
  text-transform: uppercase;
  border-radius: 2px;
  &-button {
    background: $search-background;
    border: 1px solid $search-border-color;
    border-left: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: $search-height;
    height: $search-height;
    cursor: pointer;
    svg {
      width: 20px;
      height: 20px;
      fill: #cdcdcd;
    }
  }
  &-input {
    height: $search-height;
    border: 1px solid $search-border-color;
    border-right: none;
    padding: 0 7px;
    outline: none;
  }
}